@model LabTest
@using eLab.Data

@{
    ViewData["Title"] = "Lab Test Create";
}

<div class="card">
    <div class="card-header">
        <h2>Edit Lab Test</h2>
    </div>
    <div class="card-body">
        <div class="text-center">

            <form asp-action="Edit">
                <input asp-for="Id" type="hidden" />

                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="Name">Name</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="Price">Price</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="Category">Category</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input asp-for="Category" class="form-control" />
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="Description">Description</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="Preparation">Preparation</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <textarea asp-for="Preparation" class="form-control"></textarea>
                        <span asp-validation-for="Preparation" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <label asp-for="IsActive">Active</label>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input asp-for="IsActive" class="form-check"/>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
    
                <div class="form-group row">
                    <div class="offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

